/* .feedbackOptions {
  text-align: center;
}

.button {
  background-color: white;
   margin-right: 10px;
   padding: 10px;
  min-width: 100px;
  border-radius: 4px;
}

.button:hover {
  cursor: pointer;
} */

.statistics {
  font-size: 20px;
  margin-bottom: 10px;
}
/* 
.notification {
  font-size: 20px;
} */